<!doctype html>
<title>Yo Message</title>

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}">
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/message.js') }}"></script>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/message.css') }}">


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<div class="container-fluid">
<h1> Yo Message </h1>
<div class="panel panel-default">
    <div class="panel-body" id="message">
{% if data['name'] %}
    <h2 class="text-center"> Message from {{ data['name'] }}</div> </h2>
{% endif %}
    <p> {{ data['message'] }} </p>
    <div class="text-center">
    <a href="http://yomessage.me/?username={{ data['name'] }}&name={{ data['username'] }}" id="reply" type="submit" value="Reply" class="col-centered btn btn-primary center text-center">Reply</a>
</div>
</div>
</div>
</div>
